[submodule "libevent"]
	path = libevent
	url = https://github.com/shedbuilt/libevent.git
	branch = .
[submodule "libxslt"]
	path = libxslt
	url = https://github.com/shedbuilt/libxslt.git
	branch = .
[submodule "libxml2"]
	path = libxml2
	url = https://github.com/shedbuilt/libxml2.git
	branch = .
[submodule "libarchive"]
	path = libarchive
	url = https://github.com/shedbuilt/libarchive.git
	branch = .
[submodule "libuv"]
	path = libuv
	url = https://github.com/shedbuilt/libuv.git
	branch = .
[submodule "cmake"]
	path = cmake
	url = https://github.com/shedbuilt/cmake.git
	branch = .
[submodule "tmux"]
	path = tmux
	url = https://github.com/shedbuilt/tmux.git
	branch = .
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/shedbuilt/yaml-cpp.git
	branch = .
[submodule "nano"]
	path = nano
	url = https://github.com/shedbuilt/nano.git
	branch = .
[submodule "screen"]
	path = screen
	url = https://github.com/shedbuilt/screen.git
	branch = .
[submodule "unzip"]
	path = unzip
	url = https://github.com/shedbuilt/unzip.git
	branch = .
[submodule "glib2"]
	path = glib2
	url = https://github.com/shedbuilt/glib2.git
    branch = .
[submodule "gobject-introspection"]
	path = gobject-introspection
	url = https://github.com/shedbuilt/gobject-introspection.git
    branch = .
[submodule "libicu"]
	path = libicu
	url = https://github.com/shedbuilt/libicu.git
    branch = .
[submodule "perl_html-parser"]
	path = perl_html-parser
	url = https://github.com/shedbuilt/perl_html-parser.git
	branch = .
[submodule "talloc"]
	path = talloc
	url = https://github.com/shedbuilt/talloc.git
	branch = .
[submodule "cifs-utils"]
	path = cifs-utils
	url = https://github.com/shedbuilt/cifs-utils.git
	branch = .
[submodule "sqlite3"]
	path = sqlite3
	url = https://github.com/shedbuilt/sqlite3.git
    branch = .
[submodule "dbus-glib"]
	path = dbus-glib
	url = https://github.com/shedbuilt/dbus-glib.git
    branch = .
[submodule "newt"]
	path = newt
	url = https://github.com/shedbuilt/newt.git
	branch = .
[submodule "popt"]
	path = popt
	url = https://github.com/shedbuilt/popt.git
	branch = .
[submodule "slang"]
	path = slang
	url = https://github.com/shedbuilt/slang.git
	branch = .
